@import "variables.scss";

.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: $nav-height;
  width: 100%;
  z-index: 99999;
  & > .container {
    position: relative;
    z-index: 9999;
    &:before {
      content: "";
      position: absolute;
      top: 25px;
      left: 0;
      z-index: 9998;
      width: 100%;
      height: $nav-height - 10px;
      @media screen and (min-width: $mobile-l) {
        background-image: $nav-background-image;
      }
    }
  }
  a {
    color: $nav-link-default-color;
    text-decoration: none;
    &:hover,
    &:active,
    &.active {
      color: darken($nav-link-default-color, 10);
    }
  }
  .brand {
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(15px + 2px);
    left: 0;
    height: $nav-height - 10px - 14px;
    z-index: 9999;
    background-color: $nav-content-background-color;
    padding: 0 25px 0 100px;
    color: $nav-default-color;
    @media screen and (min-width: $mobile-l) {
      top: calc(25px + 7px);
      padding: 0 25px 0 120px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 20px;
      height: 39px;
      background-image: url("assets/decorations/panel-ending-right.png");
      background-repeat: none;
      background-size: 20px 39px;
    }
  }
  .logo {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 99999;
    width: 75px;
    height: 75px;
    background-image: url("assets/images/logo.svg");
    background-repeat: no-repeat;
    background-size: 75px 75px;
    text-indent: -5000rem;
    @media screen and (min-width: $mobile-l) {
      width: 100px;
      height: 100px;
      background-size: 100px 100px;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .nav {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 9998;

    @media screen and (min-width: $mobile-l) {
      background-color: $nav-content-background-color;
      height: $nav-height - 24px;
      padding: 0 120px 0 40px;
      right: 0;
      width: 700px;
      top: 32px;
    }
    .nav-item-list {
      background-color: $nav-content-background-color;
      border-radius: $border-radius;
      opacity: 0;
      transform: translate(80%, -80%);
      padding: 20px;
      @media screen and (min-width: $mobile-l) {
        padding: 0;
        display: flex;
        justify-content: space-around;
        border-radius: 0;
        margin: 0;
        display: flex;
        position: relative;
        align-items: center;
        height: 100%;
        background-color: transparent;
        opacity: 1;
        transform: translate(0, 0);
      }
      .nav-item {
        list-style-type: none;
        margin: 0 10px;
        color: $nav-default-color;
        margin-bottom: 20px;
        font-size: 150%;
        @media screen and (min-width: $mobile-l) {
          margin: 0 15px;
          font-size: 80%;
        }
      }
      &.deactivating {
        transition: transform 0.3s, opacity 0.3s;
        opacity: 0;
        transform: translate(80%, -80%);
      }
      &.active {
        transition: transform 0.3s, opacity 0.5s;
        opacity: 1;
        transform: translate(0, 0);
      }
    }
    &:before {
      @media screen and (min-width: $mobile-l) {
        position: absolute;
        top: 0;
        left: -20px;
        content: "";
        width: 20px;
        height: 40px;
        background-image: url("assets/decorations/panel-ending-left.png");
        background-repeat: no-repeat;
      }
    }
  }
  .navicon {
    position: absolute;
    top: 4px;
    right: 15px;
    width: 65px;
    height: 65px;
    background-image: url("assets/images/navicon.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 65px 65px;
    border: 0 none;
    z-index: 9999;
    @media screen and (min-width: $mobile-l) {
      top: 10px;
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
    }
    &:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      left: 18px;
      top: 18px;
      background-image: url("assets/images/navicon-icons.svg");
      background-size: 30px auto;
      @media screen and (min-width: $mobile-l) {
        background-size: 40px auto;
        width: 40px;
        height: 40px;
        left: 20px;
        top: 20px;
      }
    }
    &.active {
      transform: rotate(360deg);
      transform-origin: center center;
      transition: transform 0.3s;
      &:after {
        background-position: 0 30px;
        @media screen and (min-width: $mobile-l) {
          background-position: 0 40px;
        }
      }
    }
    &.deactivating {
      transform: rotate(0);
      transform-origin: center center;
      transition: transform 0.3s;
    }
  }
}

.header.scrolled {
  .nav {
    position: fixed;
    @media screen and (min-width: $mobile-l) {
      right: calc(50% - 600px);
      transform: translateX(calc(100% + 780px));
      transform-origin: center center;
      &.active {
        transition: transform 0.5s;
        transform: translateX(0%);
        transform-origin: center center;
      }
      &.deactivating {
        transition: transform 0.5s;
        transform: translateX(calc(100% + 780px));
        transform-origin: center center;
      }
    }
  }
  .container {
    background-image: none;
  }
  .navicon {
    position: fixed;
    @media screen and (min-width: $mobile-l) {
      top: 5px;
      right: 15px;
    }
    @media screen and (min-width: $desktop-s) {
      left: calc(50% + 505px);
      cursor: pointer;
    }
  }
}
